[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-storages = "*"
google-cloud-secret-manager = "*"
google-cloud-storage = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
